<div class="comments-view">
    {{#each this}}
    <div class="single-comment">
        <div class="comment-username">
            {{user.username}}
            <span>
                on {{format_date created_at}}
            </span>
        </div>
        <div class="comment-text">
            {{comment_text}}
        </div>
    </div>
    {{/each}}
</div>