<section>
    <h2>Your Dashboard!</h2>
    <form action="">
        <h3>Create a new post!</h3>
        <div>
            <label for="post-title">Title</label>
            <input type="text" name="post-title" id="post-title">
        </div>
        <div>
            <label for="post-content">Title</label>
            <textarea name="post-content" id="post-content"></textarea>
        </div>
        <div>
            <button type="submit">Post!</button>
        </div>
    </form>
</section>

{{#if post.length}}
<section>
    <h2>Your posts!</h2>
        <ul>
        {{#each post as |post|}}
        <li>
            post
            {{> post-info post}}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}