<div class="dashboard-view">
    <section>
        <h2>Your Dashboard!</h2>
        <form id="add-post-form">
            <h3>Create a new post!</h3>
                <input type="text" name="post-title" id="post-title" placeholder="Post Title">
                <textarea type="text" name="post-content" id="post-content" placeholder="Your Post..."></textarea>
                <div class="add-post-btn-container">
                <button type="submit">Post!</button>
                </div>
        </form>
    </section>

    {{#if posts.length}}
    <section>
        <h2>Your posts!</h2>
        <ul class="post-edit-option">
            {{#each posts as |post|}}
            <li class="li-post">
                <div>
                    {{> post-info post}}
                </div>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit
                </a>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}
</div>

<script src='/js/create-post.js'></script>