<div class="edit-post-view">
    <section>
        <h2>Edit your Post!</h2>
        <form id="edit-post-form">
                <input type="text" name="post-title" id="post-title" value="{{post.title}}">
                <textarea name="post-body" id="post-body">     {{post.content}}</textarea>
                <button type="submit" id="saveBtn">Save</button>
                <button id="delBtn">Delete</button>
        </form>
    </section>
    <section>
    <form id="add-comment-form">
            <input type="text" name="comment-body" id="comment-body" placeholder="Add a Comment...">
            <button type="submit">➕</button>
    </form>
        <div>
            {{> comments post.comments}}
        </div>
    </section>
</div>

<script src="/js/edit-delete-post.js"></script>
<script src="/js/add-comment.js"></script>