<div>
    {{#if loggedIn}}
    <button>Make a blog entry!</button>
    {{/if}}
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ul>
</div>