<div class="homepage-view">
    {{#if loggedIn}}
    <a href="/dashboard " id="dashBtn">
        Share something!
    </a>
    {{/if}}
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ul>
</div>