<form id="login-form">
    <h3>Sign in to your account!</h3>
    <div>
        <label for="email-login">email:</label>
        <input type="email" id="email-login">
    </div>
    <div>
        <label for="pw-login">password:</label>
        <input type="password" id="pw-login">
    </div>
    <div>
        <button type="submit">Sign in!</button>
    </div>
</form>

<form id="signup-form">
    <h3>Create a new account!</h3>
    <div>
        <label for="user-signup">email:</label>
        <input type="text" id="user-signup">
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="email" id="email-signup">
    </div>
    <div>
        <label for="pw-signup">password:</label>
        <input type="password" id="pw-signup">
    </div>
    <div>
        <button type="submit">Sign up!</button>
    </div>
</form>

<script src='/js/login.js'></script>