/* general */
:root {
    --main-color: #892b64;
    --heading-font: 'Teko', sans-serif;
    --text-font: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
* {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: rgb(85, 18, 112);
}
input, form button, textarea {
    border-radius: 5px;
    border: 1px #eaebed solid;
}

/* header, nav */
nav {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-family: var(--heading-font);
}
nav h1 {
    margin: auto 20px;
    color: white;
    font-size: 45px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
}
.nav-links button {
    border: 0;
    cursor: pointer;
    background-color: var(--main-color);
    font-family: var(--heading-font);
    font-size: xx-large;
    padding: 0;
}
.nav-link {
    margin: auto 15px;
    color: white;
    font-size: xx-large;
    transition-duration: 200ms;
}
.nav-link:hover {
    transform: translateY(-2px);
    text-shadow: 0 1px 2px black;
}

/* {{{body}}} */
.dynamic-body {
    width: 100%;
    margin: 50px auto;
    font-family: var(--text-font);
}

/* homepage */
.homepage-view {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#dashBtn {
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    padding: 5px auto;
    font-family: var(--heading-font);
    font-size: 30px;
    text-align: center;
}
#dashBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0px 1px 1px black ;
    background: linear-gradient(#af4083, #6b194a, #6b194a);
}
.homepage-view ul {
    list-style: none;
    width: 100%;
}

/* post info style */
.post-info {
    padding: 10px 25px;
    background-color: #eaebed;
    margin: 2px 0;
    border-radius: 5px;
    color: rgb(85, 18, 112);
}
.post-info:hover {
    background-color: #f1e8ee;
    box-shadow: 0px 0px 1px rgb(94, 79, 94);
}
.post-info-user p {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 5px;
}
.post-info-user span {
    font-size: 13px;
    font-weight: 400;
    color:rgb(109, 103, 126)
}
.post-info-title {
    font-size: 23px;
    font-weight: 700;
    margin: 10px 0;
}
.post-info-content {
    font-size: 15px;
    margin: 10px 0;
}
.post-info-comments {
    font-size: 13px;
    font-weight: 400;
    color:rgb(109, 103, 126)
}

/* single post view */
.single-post-view {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#add-comment-form {
    width: 100%;
    display: flex;
    margin: 15px auto;
    justify-content: space-between;
}
#comment-body {
    height: 25px;
    padding: 2px 15px;
    margin-right: 5px;
    flex-grow: 1;
    font-family: var(--text-font);
}
#add-comment-form button {
    text-align: center;
    background-color: #eaebed;
}
#add-comment-form button:hover {
    background-color: rgb(218, 216, 216);
}


footer {
    background-color: var(--main-color);
    color: white;
    height: 40px;
    width: 100%;
    margin: auto;
    font-family: var(--heading-font);
    font-size: 30px;
    position: fixed;
    bottom: 0;
    display: flex;
}
footer p {
    margin: auto;
}